*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    scroll-behavior:smooth;
}
body{
  font-family: Arial, Helvetica;
}    
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    padding: 60px;
    margin: auto;
}
header{
  height: 100vh; 
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.583)0%,rgba(255, 255, 255, 0.664)100%),url(../img/imagen\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.head{
    text-align: center;
    padding: 0;
    height: 70%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.menu-navegacion{
    position: fixed;   
    top:0;
    right: 0;
    width: 15vw;
    height:100%;
    background-image: linear-gradient(to top, #dc70bd 0%, #7395cf 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    transform: translate(110%);                                                                                                
}
.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.titulo{
  font-size: 60px;  
  margin-bottom: 30px;
}
.copy{
    font-weight: 300;
    font-size: 25px;
    text-align: left;
}
.subtitulo{
    text-align: center;
    font-weight: 400;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;  
    align-items: center; 
    flex-wrap: wrap;
   
   }
   .contenedor-servicio img{
    width: 40%;
   }
   .checklist-servicio{
    width: 55%;
   }
   .service{
     margin-bottom: 20px;
     text-align: left;
   }
   .n-service{
       margin-bottom: 7px;
       color: #a66aee;
   } 

.number{
    display: inline-block;
    background-image: linear-gradient(to top,#604e8b 0%, #a66aee);
    width:30px;
    color:#7395cf;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 5px;
}

.gallery{
    background-color: #7395cf;   
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    cursor: zoom-in;
    border-radius: 10px;
}
.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;

}
.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
footer{
    background-color: #adabab;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #ffffff;
}
.brand{
    font-family: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.social-media-icon:hover{
    background-color: #a66aee;
    color: #181818;
}

.social-media-icon i{
    font-size: 40px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 60px;
}
@media screen and(max-width) {
    .menu-navegacion{
        width: 50vw;
    }
   .titulo{
    font-size: 40px;
    }
    .contenedor-servicio img{
      width: 75%;
      margin-bottom: 40px; 

      }
      .checklist-servicio {
width: 80%;

      }
     .service{
        margin-bottom: 30px;
     }
     .agregar-imagen{
        width: 45%;
     }
     .cont-expert{
        width: 70%;

     }
     .footer-contentfooter{
        justify-content: center;
     }
     .social-media{
        width: 80%;
        justify-content: space-evenly;
     }
     .social-media-icon{
        margin-left: 0;
     }
.contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
}
    }


